.chapter-title {
  border-bottom: 1px solid #dadada;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.21;
  margin: 0;
  padding-bottom: 23px;
}

@media (width <= 600px) {
  .chapter-title {
    font-size: 18px;
    padding-bottom: 28px;
  }
}
