@import url('../../../common/link-hover.css');

.nav-tab {
  background-color: #272727;
  display: flex;
  justify-content: center;
  min-height: 66px;
  width: 100%;
}

.nav-tab__links {
  align-items: center;
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-tab__link {
  border-bottom: 1px solid;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  text-decoration: none;
}

@media (width <= 400px) {
  .nav-tab {
    min-height: 63px;
    padding-bottom: 3px;
  }

  .nav-tab__links {
    gap: 24px;
  }

  .nav-tab__link {
    font-size: 11px;
  }
}
