.body {
  width: 100%;
  background-color: #202020;
  font-family: Inter, Arial, sans-serif;
  color: #fff;
}

.page {
  max-width: 1280px;
  min-height: 3148px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
