@import url('../../../common/link-hover.css');

.auth-header {
  align-items: center;
  background-color: #073042;
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  padding: 0 75px 0 70px;
}

.auth-header__navigation-and-logo-container {
  align-items: center;
  display: flex;
  gap: 45px;
}

.auth-header__links {
  align-items: center;
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.auth-header__link {
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  text-decoration: none;
}

.auth-header__profile {
  align-items: center;
  color: inherit;
  display: flex;
  gap: 7px;
  text-decoration: none;
}

.auth-header__profile-name {
  font-size: 13px;
  font-weight: 400;
  line-height: 0.92;
  margin: 0;
  padding: 0;
}

.auth-header__profile-logo-container {
  align-items: center;
  background-color: #0f4157;
  background-image: url('../../../../images/profile-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  display: flex;
  height: 26px;
  justify-content: center;
  width: 26px;
}

@media (width <= 800px) {
  .auth-header__links {
    display: none;
  }

  .auth-header__profile-logo-container {
    display: none;
  }

  .auth-header__profile-name {
    display: none;
  }

  .auth-header__profile {
    background-image: url('../../../../images/burger.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 44px;
    width: 44px;
  }

  .auth-header {
    padding: 0 30px;
  }
}

@media (width <= 400px) {
  .auth-header__profile {
    background-size: 91%;
    height: 43px;
    width: 40px;
  }

  .auth-header {
    padding: 0 14px;
  }
}
