@import url('../../../common/link-hover.css');

.about-me {
  padding: 110px 70px 0;
}

.about-me__chapter-description-with-avatar {
  display: flex;
  justify-content: space-between;
  padding: 66px 0;
}

.about-me__avatar {
  border-radius: 10px;
  height: 327px;
  width: 270px;
}

.about-me__chapter-description {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  max-width: 600px;
  padding: 0;
  padding-right: 50px;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.16;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.about-me__activity {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.42;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01px;
  line-height: 1.57;
  margin: 0;
  margin-bottom: 98px;
  padding: 0;
}

.about-me__github-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (width <= 800px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__chapter-description-with-avatar {
    padding: 66px 0 0;
  }

  .about-me__name {
    font-size: 40px;
    letter-spacing: -1.5px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .about-me__activity {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 21px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 87px;
  }

  .about-me__avatar {
    height: 307px;
    width: 255px;
  }
}

@media (width <= 600px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__chapter-description-with-avatar {
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: center;
    padding: 60px 0 35px;
  }

  .about-me__chapter-description {
    padding: 0;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 1.21;
    margin-bottom: 19px;
  }

  .about-me__activity {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 19px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 1.46;
    margin-bottom: 39px;
  }

  .about-me__avatar {
    height: 352px;
    width: 292px;
  }
}
